@charset "UTF-8";
@import url(default.css);


/* header start */
header#header > nav {
    width: 1200px;
    height: 65px;
    margin: 0 auto;
}

#header nav#headerLNB {
    text-align: right;
    line-height: 65px;
    font-size: 14px;
}

#headerLNB span {
    color: #42619a;
}

#header nav#headerGNB {
    justify-content: space-between;
}

div#imgBox {
    line-height: 50px;
}


#gnbBox > ul#mainMenu {
    width: 945px;
    position: relative;
}

#gnbBox > ul#mainMenu > li.mainLi {
    text-align: center;
/*    width: 100%;*/
}

#gnbBox > ul#mainMenu > li.mainLi > a {
    color: #000;
    width: 100%;
    height: 65px;
    line-height: 65px;
    font-size: 18px;
    display: inline-block;
}

ul.subMenu {
    height: 250px;
    border-left: 1px solid #ddd;
    padding-top: 20px;
    position: relative;
    visibility: hidden;
    z-index: 10;
}

li.subLi a {
    color: #555;
    width: 100%;
    height: 35px;
    padding: 10px 30px 10px 10px;
    text-align: left;
    font-size: 14px;
    line-height: 14px;
    display: inline-block;
}


li.mainLi:last-child > ul.subMenu {
    border-right: 1px solid #ddd;
}

ul.subMenu > li.subLi:hover a {
    color: #fff;
    background-color: #f56254;
}
/* header end */

/* div#headerGnbBG start */
div#headerGnbBG {
    width: 100%;
    height: 250px;
    background-color: #fff;
    margin: 0 auto;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    position: absolute;
    top: 130px;
    display: none;
    z-index: 9;
}
/* div#headerGnbBG end */
